@charset "utf-8";
/* CSS Document */
body{
background: url(./image/background.jpg),repeat:none;
min-height: 600px;
}
#container{
	width:1000px;
	margin:0 auto;
	position:relative; ]
	overflow:hidden;
	  background: none repeat scroll 0% 0% rgb(225, 238, 243);
	}
input,textarea{
	text-transform: uppercase;
}
#header{
width:1000px;

height:150px;
margin:0 auto;

background: rgba(243,226,199,1);
background: -moz-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 97%, rgba(233,212,179,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(243,226,199,1)), color-stop(97%, rgba(193,158,103,1)), color-stop(100%, rgba(233,212,179,1)));
background: -webkit-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 97%, rgba(233,212,179,1) 100%);
background: -o-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 97%, rgba(233,212,179,1) 100%);
background: -ms-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 97%, rgba(233,212,179,1) 100%);
background: linear-gradient(to top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 97%, rgba(233,212,179,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3', GradientType=1 );



text-align:center;
font-size:20px;
	}
	#header_title{
		padding-top:45px;
	}
#menubar{
width:1000px;
background-color:#09C;
height:30px;	
}
#menubar2{
text-align:center;
width:1000px;
background: rgb(243,226,199); /* Old browsers */
background: -moz-linear-gradient(bottom, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 100%, rgba(233,212,179,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, left bottom, color-stop(0%,rgba(243,226,199,1)), color-stop(100%,rgba(193,158,103,1)), color-stop(100%,rgba(233,212,179,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(bottom, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 100%,rgba(233,212,179,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(bottom, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 100%,rgba(233,212,179,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(bottom, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 100%,rgba(233,212,179,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 100%,rgba(233,212,179,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */
height:30px;	
}
#menubar{
width:1000px;
background: rgb(243,226,199); /* Old browsers */
background: -moz-linear-gradient(bottom, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 100%, rgba(233,212,179,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, left bottom, color-stop(0%,rgba(243,226,199,1)), color-stop(100%,rgba(193,158,103,1)), color-stop(100%,rgba(233,212,179,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(bottom, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 100%,rgba(233,212,179,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(bottom, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 100%,rgba(233,212,179,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(bottom, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 100%,rgba(233,212,179,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 100%,rgba(233,212,179,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */

color:#9CFA96;

height:60px;	

/*white-space: nowrap;*/
/*position:relative; */
overflow:hidden;}
	#menubar ul{list-style:none; font-size:15px; font-style:italic; /*margin:21px 0 0 5px;*/}
	#menubar ul li{float:left; padding:5px 35px 0 29px; background:url(images/arrow.gif) no-repeat 0 3px;}
	#menubar a{text-decoration: none;color: #808000;}
	#menubar a:hover{color: #F30;text-decoration: underline;}


.menu{
background-image:url(images/arrow.gif);
background-repeat:no-repeat;
background-position:90px;
padding-left:90px;
font-family:Tahoma;
font-size:11px;
font-weight:bold;
color:#9CFA96;
}
.menu a{
color:#9CFA96;
text-decoration:none;
}
.menu a:hover{
color:#9CFA96;
text-decoration:none;
}
.sep{
border-bottom:#808000 1px solid;
}
/*#footer{
	width:1400px;
	height:30px;
	
	display: block;
	}*/
#leftmenu{
	width:250px;
	float:left;
	background-color:#d7eacc;
	
	}
#ltop{
	width:250px;
	height:100px;
	background-image:url(images/left1.jpg);
	
	}
	#menu1{
	width:250px;
	height:20px;
	background-image:url(images/bg.png);
	text-align:center;
	font:bold;
	
	}
	
#middle1{
float:left;
width:1000px;
margin-top:20px;
margin-left:20px;
background: rgb(249,252,247); /* Old browsers */
background: -moz-linear-gradient(top, rgba(249,252,247,1) 67%, rgba(245,249,240,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(67%,rgba(249,252,247,1)), color-stop(100%,rgba(245,249,240,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(249,252,247,1) 67%,rgba(245,249,240,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(249,252,247,1) 67%,rgba(245,249,240,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(249,252,247,1) 67%,rgba(245,249,240,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(249,252,247,1) 67%,rgba(245,249,240,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=0 ); /* IE6-9 */
margin:0 auto;position:relative;
overflow:hidden;
text-align:justify;
margin-right:20px;
padding-bottom:50px;
padding-top:40px;
min-height: 250px;
}

#login{
border:dotted;
border-style:solid;
border-color:#d7eacc;
padding-top:20px;
width:400px;
height:150px;
margin:0 auto;
	position:relative; overflow:hidden;

background: rgba(243,226,199,1);
background: -moz-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 97%, rgba(233,212,179,1) 100%);
background: -webkit-gradient(left left, right top, color-stop(0%, rgba(243,226,199,1)), color-stop(97%, rgba(193,158,103,1)), color-stop(100%, rgba(233,212,179,1)));
background: -webkit-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 97%, rgba(233,212,179,1) 100%);
background: -o-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 97%, rgba(233,212,179,1) 100%);
background: -ms-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 97%, rgba(233,212,179,1) 100%);
background: linear-gradient(to left, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 97%, rgba(233,212,179,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3', GradientType=1 );
	

}
#middle{
float:left;
width:1000px;
margin-top:20px;
margin-left:20px;

margin:0 auto;position:relative; overflow:hidden;
text-align:justify;
margin-right:20px;
padding-bottom:50px;
padding-top:100px;

}
#bottom{
width:740px;
float:right;
height:173px;
background-image:url(images/bottom.jpg);
background-repeat:no-repeat;
background-position:right;
}
#control
{
	width:250px;
}
#control1
{
	width:300px;
}
#star
{
	color:#F00;
}
#msg{
color:#FF0000;
}
#footerouter
{
  
    float:left;
    width:100%;
    height:54px;
    padding:0;
   background: rgb(243,226,199); /* Old browsers */
background: -moz-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,226,199,1)), color-stop(0%,rgba(193,158,103,1)), color-stop(100%,rgba(233,212,179,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 0%,rgba(233,212,179,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 0%,rgba(233,212,179,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 0%,rgba(233,212,179,1) 100%); /* IE10+ */
background: linear-gradient(to top, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 0%,rgba(233,212,179,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */
}
#footerouter1
{
   margin-left: 169px;
    float:left;
    width:75%;
    height:54px;
    padding:0;
   background: rgb(243,226,199); /* Old browsers */
background: -moz-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,226,199,1)), color-stop(0%,rgba(193,158,103,1)), color-stop(100%,rgba(233,212,179,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 0%,rgba(233,212,179,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 0%,rgba(233,212,179,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 0%,rgba(233,212,179,1) 100%); /* IE10+ */
background: linear-gradient(to top, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 0%,rgba(233,212,179,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */
}
#footer
{
    width:1000px;
    margin:0 auto;
    position: relative;
    clear:both;
    stress:100%;
    padding:0;
    text-align: center;
padding-top: 20px;
font-size: 12px;
}
#inner
{
	
	
	
}
.textbox{
width:150px;	
}
#fdset br{
	
}
}
